body {
  background-color: #EEE;
  color: #444;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #1e1e1e;
}

strong {
  color: #000000;
}

a {
  color: #0d6efd;
}

a:hover {
  color: #1e1e1e;
}